# If using Python 2.6 or less, then have to include package data, even though
# it's already declared in setup.py

# Include the license file
include LICENSE.txt
include photopipe/VERSION

include depend_install.sh
include astromatic_install.sh
include post_install.sh

# Include the data files
# recursive-include data *
recursive-include photopipe/schemas *
recursive-include photopipe/photometry/defaults *
recursive-include photopipe/photometry/dependencies *
recursive-include photopipe/reduction/astrom *
recursive-include photopipe/reduction/auto/defaults *





